# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firestore-debug.log

# Local Env Files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase & Google Cloud Service Accounts Keys (🛡️ القفل الحديدي)
*-service-account-key.json
*serviceAccountKey.json
*service-account.json
*.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
