rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to products, but only authenticated users can write.
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Allow users to read and write to their own cart.
    match /carts/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to create orders if they are authenticated.
    match /orders/{orderId} {
        allow create: if request.auth != null;
        allow read, update, delete: if false; // To be defined later if needed
    }
    
  }
}
